*{
    margin: 0;
}

body {
    background-color: #fcfbfb; 
}

header {
    background-color:rgba(20,30,13, .7);
}
header img{
    width: 7em;
    border-radius: 50%/50%;
    margin: 2%;
}

header nav a{
    font-size: 1.3em;
    padding: 0.3%;
    margin: 0.3%;
}

#background {
    height: 725px;
}

header nav a:hover {
    background-color: black;
}

.button-box{
    background-color: black;
    text-align: center;
}
.button-box a{
    text-decoration: none;
    font-size: 2em;
    color: white;
    
}
.button-box:hover{
    transition: all 0.02s ease-in-out;
    background-color: red;
}
.icon {
    width: 80px;
}

main{
    text-align: center;
    display: block;
}

h2{
    margin: 1%;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer{
    background-color: rgba(20,30,13, .7);
    margin-top: 50%;
}

footer p{
   
    text-align: center;
    color: white;
    font-size: 1.2em;
}
footer p a{
    text-decoration: none;
    color: white;
    text-align: left;
}

footer p a:hover {
    text-decoration: underline;
}
footer a{
    text-decoration: none;
    display: inline-flex;
    color: white;
    margin-top: 2%;
}    
  