*{
    margin: 0%;
}
body{
    background-color: rgb(197, 197, 255);
    font-family: monospace, Arial, sans-serif
}

header{
    background-color: #000214;
    color: white;
    text-align: center;
    padding: 2%;
    font-family: Arial, monospace, sans-serif;
}

header h1{
    font-size: 4em;
    font-family: arial;
    margin-bottom: 2%;
}

/**Setting the overview div element**/
main{
    margin: auto;
    width: 70%;
}
.overview{
    text-align: center;
    margin: auto;
    width: 70%;
    border-bottom: 6px solid rgb(61, 84, 163);
    padding: 2%;
    border-radius: 5%/5%;
    font-family: monospace, sans-serif, 'Courier New';
}
.overview h1{
    margin: 2%;
}
.overview h2{
    margin: 2%;
}
.overview p{
    background-color: rgb(61, 84, 163);
    color: white;
    padding: 2%;
    font-size: 1.2em;
}
.overview label{
    display: block;
    font-size: 1.6em;
    color: white;
    background-color: rgb(61, 84, 163);
    padding: 1%;
}

/**Setting branding div including its image**/
.branding{
    text-align: center;
    border-bottom: 6px solid rgb(61, 84, 163);
    padding: 2%;
    border-radius: 5%/5%;
    margin: auto;
    width: 70%;
    font-family: monospace, sans-serif, 'Courier New';
}

.branding img{
    border-radius: 50%/50%;
    margin: 2%;
    box-shadow: 2px 2px 10px black;
}

/**Setting style div**/

.styles{
    text-align: center;
}

.styles span{
    background-color: rgb(61, 84, 163);
    color: white;
    padding: 1%;
    font-size: 1.4em;
}
.styles span{
    display: block;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.styles h3{
    font-size: 1.5em;
    margin: 2%;
    text-transform: capitalize;
}

/**Footer**/
footer{
    margin-top: 20%;
    color: white;
    background-color: rgb(61, 84, 163);
}

.footer p{
    text-align: center;
}

