*{
    margin: 0%;
}
body{
    background-color: rgb(197, 197, 255);
}

header{
    background-color: #000214;
    color: white;
    text-align: center;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
}

.overview{
    text-align: center;
    margin: auto;
    width: 90%;
    border-bottom: 6px solid rgb(61, 84, 163);
    padding: 2%;
    border-radius: 5%/5%;
    font-family: monospace, sans-serif, 'Courier New';
}
.overview h1{
    margin: 2%;
}
.overview h2{
    margin: 2%;
}
.overview p{
    background-color: rgb(61, 84, 163);
    color: white;
    padding: 2%;
    font-size: 1.2em;
}

.branding{
    text-align: center;
    border-bottom: 6px solid rgb(61, 84, 163);
    padding: 2%;
    border-radius: 5%/5%;
    margin: auto;
    width: 90%;
    font-family: monospace, sans-serif, 'Courier New';;
}


.styles{
    text-align: center;
}

.styles span{
    display: block;
    letter-spacing: 2px;
    font-size: 1.2em;
}

.styles h3{
    font-size: 1.5em;
    margin: 2%;
    text-decoration: underline;
    text-transform: capitalize;
}


footer{
    margin-top: 50%;
    color: white;
    background-color: rgb(61, 84, 163);
}

.footer p{
    text-align: center;
}

