*{
    margin: 0;
}

body {
    background-color: #fcfbfb; 
}

/*Setting header elements*/
header {
    background-color:rgba(20,30,13, .7);
}
header img{
    width: 7em;
    border-radius: 50%/50%;
    margin: 2%;
    
}
#logo_link img{
    border: 3px solid rgb(112, 96, 3);
}

header nav a{
    font-size: 1.3em;
    padding: 0.3%;
    margin: 0.3%;
}

#background {
    height: 725px;
}

header nav a:hover {
    background-color: black;
}

/*Working on all the main elements*/
main{
    text-align: center;
    display: block;
}

/*Working on Book Now button*/
.button-box{
    background-color: black;
    text-align: center;
    margin: 0 auto;
    width: 10%;
    padding: 0.2%;
    border: 2px solid goldenrod;
    border-radius: 25%/50%;
}
.button-box{
    margin-top: 2%;
    margin-bottom: 2%;
}
.button-box a{
    text-decoration: none;
    font-size: 1.2em;
    color: white;
    
    
}
.button-box:hover{
    transition: all 0.02s ease-in-out;
    background-color: goldenrod;
}

.icon {
    width: 80px;
    border: 3px solid goldenrod;
    border-radius: 50%/50%;
}


h2{
    margin: 1%;
    letter-spacing: 2px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

/*Setting borders for these elements*/
.card-img{
    border: 2px solid goldenrod;
}

.boxes{
    text-align: center;
    margin: 0 auto;
    width: 50%;
   
}
.boxes #box{
    background-color: rgb(8, 58, 8);
    border: 2px solid goldenrod;
    height: 20em;
    width: 20em;
}

/*Setting footer elements*/

footer{
    background-color: rgba(20,30,13, .7);
    margin-top: 10%;
}

footer p{
   
    text-align: center;
    color: white;
    font-size: 1.2em;
}
footer p a{
    text-decoration: none;
    color: white;
    text-align: left;
}

footer p a:hover {
    text-decoration: underline;
}
footer a{
    text-decoration: none;
    display: inline-flex;
    color: white;
    margin-top: 2%;
} 

.social{
    margin-left: 1%;
}
.social img{
    border-radius: 50%/50%;
    margin-left: 2%;
}

.social img:hover{
    opacity: 0.7;
}
  