*{
    margin: 0;
}

header{
    background-color: rgb(70, 76, 133);
   

}
header a{
    text-decoration: none;
    color: white;
    font-size: 2em; 
    margin-right: 5%;
    position: relative; 
}
a{
    right: -10%;
}
header h1{
    text-align: center;
    color: white;
    font-size: 5em;
}

main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
}

main .video-display{
    width: 100%;
    
}
main .video-display img{
    width: 100%;
}
img{
    width: 98%;
    border: 2px solid rgb(70, 76, 133);
}
.aside{
    border: 2px solid rgb(70, 76, 133);

}

.other{
    text-align: center;
}
.other img{
    width: 80%;
}