*{
    margin: 0;
}

header{
    background-color: rgb(70, 76, 133);
   

}
header a{
    text-decoration: none;
    color: white;
    font-size: 2em;  
}
header h1{
    text-align: center;
    color: white;
    font-size: 5em;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

main .video-display{
    border: 6px double rgb(70, 76, 133);
}

.aside{
    border: 2px solid rgb(70, 76, 133);
    
}